@model Jogador
@{
    ViewData["Title"] = "Jogadores";
}

<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<div onclick="botaoDoMenuFechar()">
    <div class="main_bg">
        <section class="cadastro_jogador">
            <div class="container_grid">
                <div class="container_cadastro_jogador">
                    <h1>Cadastro de jogador</h1>
                    <form method="POST" action='@Url.Action("Cadastrar")'>
                        <div class="campo_cadastro">
                            <label class="texto_cadastro">ID</label>
                            <input class="input_cadastro" type="number" name="IdJogador" required>
                        </div>
                        <div class="campo_cadastro">
                            <label class="texto_cadastro">Nome</label>
                            <input class="input_cadastro" type="text" name="Nome" required>
                        </div>
                        <div class="campo_cadastro">
                            <label class="texto_cadastro">E-mail</label>
                            <input class="input_cadastro" type="email" name="Email" required>
                        </div>
                        <div class="campo_cadastro">
                            <label class="texto_cadastro">Senha</label>
                            <input class="input_cadastro" type="text" name="Senha" required>
                        </div>
                        <div class="campo_cadastro">
                            <label class="texto_cadastro">ID da equipe</label>
                            <select aria-placeholder="selecione a equipe" class="input_cadastro" type="number"
                                name="IdEquipe" required>
                                <optgroup>
                                    <option selected=“selected” hidden> Equipes </option>
                                    @{
                                        Jogador LerEquipes = new Jogador();
                                        foreach (var item in LerEquipes.LerIdsEquipesDisponiveis())
                                        {
                                            <option>@item</option>
                                        }
                                    }
                                </optgroup>
                            </select>
                        </div>
                        <button class="botao_cadastrar">Cadastrar</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="lista_jogadores">
            <div class="container_grid">
                <div class="container_lista_jogadores">
                    <h2>Lista de jogadores</h2>
                    <table class="tabela_jogadores">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>ID da equipe</th>
                            </tr>
                        </thead>
                        @foreach (Jogador item in ViewBag.Jogadores)
                        {
                            <tr>
                                <td>@item.IDJogador</td>
                                <td>@item.Nome</td>
                                <td>@item.IDEquipe</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
@* <form method="POST" action='@Url.Action("Cadastrar")'>
    <label>ID</label>
    <input type="number" name="IdJogador" />

    <label>Nome</label>
    <input type="text" name="Nome" />

    <label>Email</label>
    <input type="email" name="Email" />

    <label>Senha</label>
    <input type="text" name="Senha" />

    <label>ID da equipe</label>
    <select name="IdEquipe">
    <optgroup>
    @{
    Jogador LerEquipes = new Jogador();
    foreach (var item in LerEquipes.LerIdsEquipesDisponiveis())
    {
    <option>@item</option>
    }
    }
    </optgroup>
    </select>


    <button type="submit">Cadastrar</button>
    </form>

    <table class="table table-striped table-responsive">
    <thead>
    <th>ID</th>
    <th>Nome</th>
    <th>ID da equipe</th>
    </thead>
    <tbody>
    @foreach (Jogador item in ViewBag.Jogadores)
    {
    <tr>
    <td>@item.IDJogador</td>
    <td>@item.Nome</td>
    <td>@item.IDEquipe</td>
    </tr>
    }
    </tbody>
    </table> *@